/* Import base styles */
@import url("styles.css");

/* Results Page Specific Styles */


.results {
  border-color: #facc15;
  color: #facc15;
}

.results:hover {
  background-color: #facc15;
  color: #ffffff;
}
footer {
  background-color: #ffffff;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}

.footer__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark);
}

.footer__container p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.social-media {
  display: flex;
  gap: 0.5rem;
}

.social-icon {
  color: var(--text-dark);
  font-size: 1.25rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 600px) {
  .social-media {
    flex-direction: column;
  }

  .social-icon {
    margin-bottom: 0.5rem;
  }
}
